<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>
		<button id="data">GET DATA</button>
        <div id="getResponse"></div>
		<script>
			$("#data").click(function() {
				$.ajax({
					url: "http://localhost:3000/ajaxcall",
					type: "get",
					dataType: "json",
					
				}).done(function(data) {
                    console.log(JSON.stringify(data, "", 2));
                    $('#getResponse').html(JSON.stringify(data, "", 2))

                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log("AJAX error response", textStatus)
                })
			});
		</script>
	</body>
</html>
