.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-group .card img.card-img-top{
  width: 60%
}
.card-group .card .card-body h5.card-title{
  font-size: 25px;
  font-weight: 600;
}
.card-group .card .card-body p.card-text{
  font-size: 12px;
}
.card-group .card .card-body p a.cd-add-to-cart{
  text-decoration: none;
  color: #fff;
}
.card-group .card{
  margin-right: 10px;
}
.card-group .card .card-body p.card-price{
  font-size: 20px;
  font-weight: 600;
  color: #e10c00;
}
.App-Component{
  height: 150vh;
}