<% include template/header.ejs %>
<div class="main">
    <div class="w3">
        <div class="signin-form profile">
            <h3>Login</h3>
            <div class="login-form">
                <form action="/login" method="post">
                    <input type="text" name="logEmail" placeholder="E-mail" required="">
                    <input type="password" name="logPassword" placeholder="Password" required="">
                    <div class="tp">
                        <input type="submit" value="LOGIN NOW">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<% include template/footer.ejs %>
