<% include template/header.ejs   %>
<div class="main" >
    <div class="agile">
        <div class="signin-form profile">
            <h3>Register</h3>
            <div class="login-form">
                <form id="login" action="/register" method="post">
                    <input type="text" name="email" placeholder="E-mail" required="">
                    <input type="text" name="username" placeholder="Username" required="">
                    <input type="password" name="password" placeholder="Password" id="password" required="" >
                    <input type="password" name="passwordConfirmation" placeholder="Confirm Password" id="password_conf" required="">
                    <input type="submit" value="REGISTER">
                </form>
            </div>
            <p><a href="#"> By clicking register, I agree to your terms</a></p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<% include template/footer.ejs  %>
